* {
    margin: 0;
}

body {
    font-family: poppins;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff9ea;
    height: 108px;
    align-items: center;
    padding: 0 140px;
}

.logo {
    width: 140px;
    height: 40px;
}

.logo {
    width: 167px;
    height: 47px;
}

nav ul li {
    list-style: none;
    color: #6b6963;
    font-weight: 600px;
}

nav ul {
    display: flex;
    gap: 30px;
}

.icon {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search {
    height: 24px;
    width: 24px;
}

.signin {
    background-color: #ffcb45;
    border: none;
    padding: 10px 20px;
    border-radius: 20px 20px;
    font-weight: 600px;
}

/*hero section style*/
.hero-container {
    background-image: url('./images/shapes.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12px 140px;

}

.left-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;


}

.hero-content {
    display: flex;
    align-items: center;

}

/*how it works style*/
.how-it-works-container {
    margin-top: 80px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.what-we-serve {
    margin: 0 200px;
    text-align: center;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.serve-image {
    width: 180px;
    height: 180px;
}

/*MENU ITEMS*/
.menu-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.pm-images{
    background-color: #f1f1f1;
    text-align: center;
    height: 230px;
    padding: 30px;
    border-radius: 15px 15px 0 0;
}
.border{
    /*border: 1px solid black;*/
    border-radius: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px --1px, rgba(0, 0, 0, 0.06) 0px 2px 4px --1px;*/
    box-shadow: 2px 2px 5px #e6e6e6;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    height: 700;
    margin: 0 20px;
}

/*review style*/
.customer-container{

}
.down-image{
    position: relative;
    top: -38px;
    display: flex;

}
.food-image2{
    position: relative;
    right: 25px;
}
/*review style*/


.review-area-container{
    background-color: #f1f1f1;
    padding: 40px 30px;
    border-radius: 15px;
    width: 400px;
}
.review-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.customer-container{
    display: flex;
    
    align-items: center;
    margin-left: 100px;
    overflow-x: hidden;

}
.review-area{
    display: flex;

}
.review-area>div{
    margin-left: 10px;
}

.join-our-member{
    background-image: url('/images/10.png');
    background-position: center;
    height: 300PX;
    width: 1000px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    color: #f1f1f1;
    position: relative;
    margin: 0px 130px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.background-image{
    background-image: url('/images/bg-image.png');
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;

}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 100px 140px;
    padding-bottom: 50px;
}

/*responsive with media query*/
@media  screen and (max-width: 1024px){
    .nav-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fff9ea;
        height: 108px;
        align-items: center;
        padding: 0 140px;
    }
    /*hero section*/
    .hero-container {
       padding: 12px 10px;
    }
    /* what we do section */
    .what-we-serve {
        margin: 0 200px;
        text-align: center;
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /* Our menu section */
    .img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    /* review section */
    .customer-container{
        display: flex;
        align-items: center;
        margin-left: 150px;
        overflow-x: hidden;
    
    }
    /* footer section */
    .footer-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }
    .footer1{
        margin-top: 10px;


    }
    .footer2{
        margin-top: -60px;
    }
    .footer3{
        margin-top: -60px;
    }
    .footer4{
        margin-top: -60px;
    }
    .footer5{
        margin-top: -60px;
    }

}
@media screen and (man-width: 768px){
    .hero-container {
        background-image: url('./images/shapes.png');
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 12px 140px;
    
    }
    .left-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    
    
    }
    .what-we-serve {

        margin: 0 50px;
        text-align: center;
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /* review section */
    .customer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 150px;
        overflow-x: hidden;
    
    }
    .review-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .review-area-container{
        background-color: #f1f1f1;
        padding: 40px 30px;
        border-radius: 15px;
        width: 200px;
    }
    .customer-container{
        display: flex;
        
        align-items: center;
        margin-left: 10px;
        overflow-x: hidden;
        margin-bottom: 100px;
    
    }
    /* footer section */
    .background-image{
        background-image: url('/images/bg-image.png');
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 50px;
    }
    .footer1{
        margin-top: -10px;
    }

}
@media screen and (max-width: 400px){
    .hero-container {
        background-image: url('./images/shapes.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 12px 140px;
    
    }
    .left-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    
    
    }
    .what-we-serve {
        text-align: center;
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* review section */
    .customer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 150px;
        overflow-x: hidden;
    
    }
    .review-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .review-area-container{
        background-color: #f1f1f1;
        padding: 40px 30px;
        border-radius: 15px;
        width: 200px;
    }
    .customer-container{
        display: flex;
        
        align-items: center;
        margin-left: 10px;
        overflow-x: hidden;
        margin-bottom: 100px;
    
    }
    /* footer section */
    .background-image{
        background-image: url('/images/bg-image.png');
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 50px;
        gap: 10px;
    }
}